
/* From Uiverse.io by Gautammsharma */ 
.grid-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: #f8fafc;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}


body{
    font-family: 'Courier New', Courier, monospace;
}
.imagenperfil{
    margin: 2rem;
    
}

.datosdecontacto{
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    background-color: #cfe2ff;
    font-size: 1.1rem;
}

header {
    margin: 2rem;
    align-items: center;
    
}

form {
    background-color:#cfe2ff;
    margin-top: 4rem;
    padding: 1rem;

}

footer{
    background-color: #cfe2ff;
    margin-top: 2rem;
    padding: 1rem;
    width: auto;
}
